body {
    font-family: Arial, sans-serif;
    background-color: #ffd1dc; /* Pastel pink background color */
    margin: 0;
    padding: 0;
    color: #333; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 300px; /* Set the width of the form */
    padding: 20px;
    background-color: #d8bfd8; /* Pastel violet background color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 22px); /* Calculate width to fit inside the form with padding */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #ff1493; /* Deep pink color */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

input[type="submit"]:hover {
    background-color: #c71585; /* Darker pink color on hover */
}
